# Database Configuration
DATABASE_URL=postgresql://postgres:[password]@[host]:5432/postgres?sslmode=require

# Security Key for JWT (Change this to any random string)
SECRET_KEY=your_super_secret_key_here

# Email Configuration for OTP Verification
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_16_character_google_app_password_no_spaces
